:root{
    --text-color:#707070;
    --white-color: #ffffff;
    --black-color: #212529;
    --green-color:#20b86c;
    --blue-color: #1492a5;
    --orange-color: #f17909;
    --peach-color: #f5cd83;
}
